h1 {
  text-align: center;
  color: red;
  background-color: #fdfab4;
}

h2 {
  text-align: center;

}

h3 {
  text-align: center;
}

.vsco {
  color: blue;
}
 img {
   height: 400px;
 }

.button {
  text-align: center;
}
